src/main/resources/mule/schemas/customer-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="customers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customer" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="firstName" />
							<xs:element type="xs:string" name="lastName" />
							<xs:element type="Gender" name="gender" />
							<xs:element type="xs:byte" name="age" />
							<xs:element type="xs:string" name="country" />
							<xs:element type="xs:string" name="email" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="Gender">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M"></xs:enumeration>
			<xs:enumeration value="F"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>